.swiper-slide {
  display: block;
}

.slide {
  overflow: auto;
  height: 100vh;
}

.container {
  max-height: 100%;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}

@media only screen {
  .swiper-slide img {
    max-height: 30vh !important;
    max-width: 30vh !important;
  }
}

@media only screen and (max-height: 640px) {
  #login-options-button-text {
    font-size: 0.9rem;
  }
}

@media only screen and (min-height: 640px) {
  #login-options-button-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 360px) {
  #wall-of-shame-header {
    font-size: 1.75rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 360px) {
  #wall-of-shame-header {
    font-size: 2.25rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }
}
