.bg {
  background-image: url("../../assets/activeChallenge/running-background.gif");
  background-size: 90vw;
  width: 90vw;
  height: 90vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 1rem;
}
