.bg-active {
  background-image: url("../../assets/activeChallenge/running-background.gif");
  background-size: 300px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 1rem;
}
