.avatar {
  height: 2rem;
  width: 2rem;
}

.user-avatar {
  height: 5.5rem;
  width: 5.5rem;
  margin: 1rem;
}

.profile-statistic {
  height: 7rem;
  border-width: 0;
  border-radius: 1rem;
  margin: 0.5rem;
}
