.wrapper.animating {
  position: absolute;
  left: 0;
  right: 0;
}

.wrapper-left {
  .slide-exit {
    transform: translateX(0);
  }

  .slide-exit.slide-exit-active {
    transform: translateX(-100%);
    transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
  }

  .slide-enter {
    transform: translateX(100%);
    transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
  }

  .slide-enter.slide-enter-active {
    transform: translateX(0);
  }
}

.wrapper-right {
  .slide-exit {
    transform: translateX(0);
  }

  .slide-exit.slide-exit-active {
    transform: translateX(100%);
    transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
  }

  .slide-enter {
    transform: translateX(-100%);
    transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
  }

  .slide-enter.slide-enter-active {
    transform: translateX(0);
  }
}
