@import url(http://fonts.googleapis.com/css?family=Poppins);

$font-family-base: "Poppins";

* {
  font-family: "Poppins";
}

.indicator {
  background-color: #ffd73c;
  border-radius: 3px;
  height: 6px;
}

@media (prefers-color-scheme: dark) {
  .indicator {
    background-color: #ccac30;
    border-radius: 3px;
    height: 6px;
  }
}
