.avatar {
  height: 2rem;
  width: 2rem;
}

.challenges-search {
  .searchbar-input {
    border-radius: 2rem !important;
  }
  .searchbar-search-icon {
    margin-left: 0.25rem !important;
    width: 1.15rem;
  }
}
